<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.eclipse.ease.lang.python.jython.debugger.JythonDebuggerEngine"
            debugger="true"
            id="org.eclipse.ease.python.jythonDebugger"
            name="Python (Jython Debugger)"
            priority="1">
         <binding
               scriptType="Python">
         </binding>
      </engine>
      <moduleWrapper
            class="org.eclipse.ease.lang.python.jython.PythonModuleWrapper"
            engineID="org.eclipse.ease.python.jythonDebugger">
      </moduleWrapper>
      <launchExtension
            class="org.eclipse.ease.lang.python.jython.PythonEnvironementBootStrapper"
            engineID="org.eclipse.ease.python.jythonDebugger">
      </launchExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.ease.lang.python.jython.debugger.model.JythonDebugModelPresentation"
            detailsViewerConfiguration="org.eclipse.ease.lang.python.jython.debugger.model.JythonDebugModelPresentation"
            id="org.eclipse.ease.debugModelPresentation.jython">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="variableViewActions"
            targetID="org.eclipse.debug.ui.VariableView">
         <menu
               id="org.eclipse.ease.debug.ui.variableview.menu"
               label="EASE">
            <groupMarker
                  name="ease">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.ease.lang.python.jython.debugger.actions.FunctionFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.ease.ui.variableview.show.functions"
               label="Show functions"
               menubarPath="org.eclipse.ease.debug.ui.variableview.menu/ease"
               style="toggle"
               tooltip="Tooltip text">
         </action>
         <action
               class="org.eclipse.ease.lang.python.jython.debugger.actions.ModuleFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.ease.ui.variableview.show.modules"
               label="Show modules"
               menubarPath="org.eclipse.ease.debug.ui.variableview.menu/ease"
               style="toggle"
               tooltip="Tooltip text">
         </action>
      </viewContribution>
   </extension>
</plugin>
